@import "../../global.scss";

.contact {
  background-image: url("../../../public/materials/wave-haikei.svg");
  background-size: cover;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mobile {
    display: flex;
    flex-direction: column-reverse;
  }

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include mobile {
      flex: 0.2;
    }
    h1 {
      margin-top: 5px;
      font-size: 35px;
      font-weight: bold;
      @include mobile {
        display: none;
      }
    }
    h4 {
      color: gray;
      @include mobile {
        display: none;
      }
    }
    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      margin-top: 25px;
      background: none;
      border: none;
      font-size: 1.3rem;
      background-color: rgba(255, 255, 255, 0.6);
      backdrop-filter: blur(10px);
      padding: 0.7rem 2.5rem;
      border-radius: 50rem;
      box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
      @include mobile {
        font-size: 1rem;
        width: 150px;
        margin-top: 5px;
        padding: 0.3rem;
        background-color: rgba(243, 243, 243, 1);
      }
      span {
        width: 100px;
        display: flex;
        justify-content: space-between;
        @include mobile {
          justify-content: space-around;
        }
        a {
          text-decoration: none;
          color: #211f1f;
          @include mobile {
            font-size: 1rem;
          }
        }
        .twitter {
          color: #1da1f2;
        }
      }
    }
  }
  .right {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include mobile {
      align-items: center;
      justify-content: flex-start;
    }
    .rightItem {
      box-shadow: 0px 0px 15px -8px black;
      padding: 10px 20px 0px 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 5px;
      background-color: rgba(243, 243, 243, 1);
      width: 400px;
      height: 500px;
      @include mobile {
        margin-top: 25px;
        width: 250px;
        height: 300px;
        padding: 5px;
      }
      h2 {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 10px;
        @include mobile {
          font-size: 15px;
          margin: 0px;
          margin-top: 0px;
          margin-bottom: 10px;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
          background-color: transparent;
          border: none;
          border-bottom: 1px solid lightgray;
          outline: none;
          width: 300px;
          padding: 10px 7px;
          margin: 15px 0;
          @include mobile {
            width: 200px;
            margin: 5px 0;
          }
        }
        textarea {
          outline: none;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid lightgray;
          width: 300px;
          padding: 5px 7px;
          margin: 20px 0px 40px 0px;
          @include mobile {
            height: 50px;
            width: 200px;
            margin: 5px;
            margin-bottom: 0px;
          }
        }
        .form-btn {
          padding: 10px;
          width: 315px;
          font-size: 15px;
          font-weight: bold;
          text-align: center;
          cursor: pointer;
          border-radius: 3px;
          border: none;
          color: white;
          background-color: rgb(0, 0, 0);

          @include mobile {
            width: 215px;
            margin-top: 15px;
          }
          &:focus {
            outline: none;
          }
        }
        span {
          margin-top: 20px;
          color: green;
          @include mobile {
            font-size: 10px;
            margin-top: 5px;
          }
        }
      }
    }
  }
}
